body{

	background: url(http://www.bfoto.ru/foto/natyagnie_potolki/bfoto_ru_4344.jpg);
 	background-size: 100%;
}

#footer {
	position: fixed;
	margin: auto;
    bottom: 0;
    left: 43%;
    color: #0a0505;  
}


#error {

    margin-left: 280px;
    margin-top: 1%;
    padding:30px;
    font-weight: bold;
    color:#eddada;
}

#success {

    margin-left: 280px;
    margin-top: 1%;
    padding:30px;
    font-weight: bold;
    color:red;
}

#message
{
    text-align: center;
   border-radius: 10px;
    border:1px solid #000000; 
    background-color:#00fffa; 
    color:#000; 
    width:550px; 
    height:550px; 
    position:relative; 
    left:100px;
    box-shadow: 0 0 15px 5px
}

#error_form {

    margin-left: 280px;
    margin-top: 1%;
    padding:30px;
    font-weight: bold;
    color:#eddada;
}

#weather{
 margin-left: 200px;
    margin-top: 1%;
    padding:30px;
    font-weight: bold;
    color:#423e3e;

}